<div class="text-center">
    @{
        ViewData["Title"] = "Orçamentos";
    }
    <h1>@ViewData["Title"]</h1><br />

    <div class="card">
        <img class="card-img-top" src="~/img/orcamentos.adicionar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cadastro de Orçamentos</h5>
            <a class="btn btn-success" asp-area="" asp-controller="Orcamentos" asp-action="AdicionarOrcamento">Cadastrar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/orcamentos.editar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Edição de Orçamentos</h5>
            <a class="btn btn-success"  asp-area="" asp-controller="Orcamentos" asp-action="EditarOrcamento">Editar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/orcamentos.relatorios.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Relatório de Orçamentos</h5>
            <a class="btn btn-success"  asp-area="" asp-controller="Orcamentos" asp-action="RelatorioOrcamento">Relatórios</a>
        </div>
    </div>
</div>