@model RelatorioModel
<div>
    <h2 class="text-center">Relatório de Materiais no Estoque</h2><br />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <b>Nome</b>
            </div>
            <div class="col-sm">
                <b>Descrição</b>
            </div>
            <div class="col-lg">
                <b>Valor</b>
            </div>
            <div class="col-sm">
                <b>Data de Validade</b>
            </div>
        </div>
        @if (Model.Materiais != null)
        {
            @foreach (var material in Model.Materiais)
            {
                <div class="row">
                    <div class="col-sm">
                        @material.Nome
                    </div>
                    <div class="col-sm">
                        @material.Descricao
                    </div>
                    <div class="col-lg">
                        @material.Valor
                    </div>
                    <div class="col-sm">
                        @material.DataValidade
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                Não foi possível gerar seu relatório ou você não possui dados cadastrados!
            </div>
        }
        <br />
        <a type="button" asp-area="" asp-controller="Estoque" asp-action="Index" class="btn btn-outline-secondary btn-block">Voltar</a>
    </div>
</div>
