<div>
    <h2 class="text-center">Cadastro de Orcamentos</h2><br />
    <form asp-controller="Orcamentos" asp-action="CadastrarOrcamento">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Descrição</label>
                <input type="text" class="form-control" name="Descricao"/>
            </div>
            <div class="form-group col-md-6">
                <label>Endereço</label>
                <input type="text" class="form-control" name="Endereco" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Tipo</label>
                <select class="form-control" name="TipoObra">
                    <option value="0">Residencial</option>
                    <option value="1">Comercial</option>
                    <option value="2">Ambos</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Data de Emissão</label>
                <input type="date" class="form-control" name="DataEmissao" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Data de Validade</label>
                <input type="date" class="form-control" name="DataValidade" />
            </div>
            <div class="form-group col-md-6">
                <label>Valor</label>
                <input type="number" class="form-control" name="Valor" />
            </div>
        </div><br />
        <button type="submit" class="btn btn-outline-success btn-block">Cadastrar</button><br />
        <a type="button" asp-area="" asp-controller="Orcamentos" asp-action="Index" class="btn btn-outline-secondary btn-block">Voltar</a>
    </form>
</div>