<div class="text-center">
    @{
        ViewData["Title"] = "Orçamentos";
    }
    <h1>@ViewData["Title"]</h1><br />

    <div class="card">
        <img class="card-img-top" src="~/img/orcamentos.adicionar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cadastro de Orçamentos</h5>
            <a href="#" class="btn btn-success">Cadastrar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/orcamentos.editar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Edição de Orçamentos</h5>
            <a href="#" class="btn btn-success">Editar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/orcamentos.relatorios.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Relatório de Orçamentos</h5>
            <a href="#" class="btn btn-success">Relatórios</a>
        </div>
    </div>
</div>