<div class="text-center">
    <div class="alert alert-danger">
        <div class="card-body">
            <h5 class="card-title">Não foi possível concluir a operação, tente novamente.</h5>
            <a type="button" class="btn btn-outline-danger" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>