<div class="text-center">
    <div class="alert alert-success">
        <div class="card-body">
            <h5 class="card-title">Operação realizada com sucesso.</h5>
            <a type="button" class="btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>