<div class="text-center">
    @{
        ViewData["Title"] = "Obras";
    }
    <h1>@ViewData["Title"]</h1><br />
    <div class="card">
        <img class="card-img-top" src="~/img/obras.adicionar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cadastro de Obras</h5>
            <a class="btn btn-success" asp-area="" asp-controller="Obras" asp-action="AdicionarObra">Cadastrar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/obras.editar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Edição de Obras</h5>
            <a class="btn btn-success"  asp-area="" asp-controller="Obras" asp-action="EditarObra">Editar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/obras.relatorios.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Relatório de Obras</h5>
            <a class="btn btn-success"  asp-area="" asp-controller="Obras" asp-action="RelatorioObra">Relatórios</a>
        </div>
    </div>
</div>